{% extends 'base.html.twig' %}

{% block title %}CONNEXION{% endblock %}

{% block body %}
    <form method="POST">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>

        <label for="inputEmail">Email</label>

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

        <label for="inputPassword">Password</label>

        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">Je me connecte</button>
    </form>
{% endblock %}
